
body{
    padding: 10px;
    background-color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    color: #454545
}

.taskRows{
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    grid-gap: 20px;
}

.taskCard{
    background-color: white;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: gray 2px 2px;
}

.cardContent{
    padding: 10px;
}

.taskLate{
    background-color: lightpink !important;
}

.taskCompleted{
    background-color: lightgreen !important;
}

.taskCard >img{
    width: 100%;
    height: auto;
}